.hasWeeklys{
    background-color: #73ff00;
}
.noWeeklys{
    background-color: rgb(255, 23, 23);
}

#ticker{
    font: 2em bold tahoma;
    text-transform: uppercase;
    text-align: center;
}

#screen{
    width: 100%;
    height: 500px;
}
#chart{
    border: 2px solid black;
    background-color: aqua;
    position: relative;
}

html, body, .container{
    height: 100%;
}

